@model FrisbeeApplication.Core.Entities.Player

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JerseyNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JerseyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Overall)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Overall)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHandle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHandle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasDisc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasDisc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThrowAbility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThrowAbility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameGoals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameGoals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeasonGoals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeasonGoals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameAssists)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameAssists)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeasonAssists)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeasonAssists)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CutAbility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CutAbility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamNameAndMascot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamNameAndMascot)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
